# .gitignore
#
# Files
*.log
*.jou
*.lpr
*.rpt
*~
*.o
*.d
*.a
*.elf
*.elf.size
*.zip
*.str
*.debug
*.bmm
*.bxml
*.cap
test.dat
*.save
*.old

\#*\#

# General Directories
.Xil/
*.cache/
*.runs/
webtalk/
.metadata/
RemoteSystemsTempFiles/
hw_handoff/

# Specific Directories - temporary fix
wp1/uub_proto2/uub_proto2.sdk/test_periph_dfn_bsp/ps7_cortexa9_0/
wp2/uub_proto2/bd/uub_proto2/hdl/
wp2/uub_proto2/bd/uub_proto2/ip/
wp2/uub_proto2/bd/uub_proto2/ui/
wp2/uub_proto2/bd/uub_proto2/uub_proto2_ooc.xdc
wp2/uub_proto2/uub_proto2.sdk/standalone_bsp_0/
wp2/uub_proto2/uub_proto2.sdk/test_periph_dfn/Debug/makefile
wp2/uub_proto2/uub_proto2.sdk/test_periph_dfn/Debug/src/
wp2/uub_proto2/uub_proto2.sdk/uub_proto2/
wp2/uub_proto2/uub_proto2.sdk/uub_proto2_wrapper.hdf
wp2/uub_proto2/uub_proto2.srcs/sources_1/ipshared/

